.events-block {
  &.past {
    margin-bottom: 20px;
  }
}

.one-event {
  border: lightgray solid 1px;
  border-radius: 5px;
  box-shadow: lightgray 2px 2px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;

  > .logistics {
    grid-column: 2 / 3;
  }

  > .name {
    font-size: 1.3rem;
  }

  > .description {
    grid-column: 1 / 4;
  }
}

.friends-attending {
  grid-column: 1 / 4;
}

.event-controls {
  display: flex;
  flex-direction: column;
  grid-row: 1 / -1;
  grid-column: 4 / 5;
}

button {
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .one-event {
    display: flex;
    flex-direction: column;
  }
}

