a {
  text-decoration: none;
}

.header {
  display: flex;
  margin-bottom: 40px;
}

.logo {
  font-size: 2rem;
}

.nav-header {
  display: flex;
  flex-direction: row;
  margin-left: auto;

  > a, div > a {
    margin-right: 15px;
    font-size: 1rem;

    &:hover {
      color: rgb(124, 124, 124);
    }
  }
}

.page-body {
  display: flex;
  justify-content: space-around;
}

.side-bar {
  border: lightgray solid 1px;
  width: 15%;
  padding-left: 20px;

  > ul > li {
    list-style-type: none;
    margin: 10px 0;
  }
}

.alert {
  color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content {
  > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.dropdown:hover .dropdown-content {display: block;}

.events-block {
  > h1 {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
}